{{- $src := .Destination -}}
{{- $alt := .PlainText -}}
{{- $title := .Title -}}
{{- $imgRes := .Page.Resources.GetMatch $src -}}
{{- if $imgRes -}}
  {{- /* Verwende Original-Bild direkt als Page Resource */ -}}
  <img src="{{ $imgRes.RelPermalink }}" alt="{{ $alt }}"{{ with $title }} title="{{ . }}"{{ end }} loading="lazy" decoding="async" width="{{ $imgRes.Width }}" height="{{ $imgRes.Height }}">
{{- else -}}
  <img src="{{ $src }}" alt="{{ $alt }}"{{ with $title }} title="{{ . }}"{{ end }} loading="lazy">
{{- end -}}
