<!doctype html>
<html lang="{{ .Site.LanguageCode | default "de-DE" }}">
  <head>
    <title>{{ .Permalink }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />
    <meta name="keywords" content="Barrierefreiheit, Accessibility, Screenreader, Tastaturbedienung, A11Y" />
    <meta name="copyright" content="© 2026 Natalia Kleemann, Stefan Rohe" />
    <meta name="audience" content="all" />
    <meta http-equiv="refresh" content="0; url={{ .Permalink }}" />
  </head>
</html>
